form.person-form {
    display: table;
}

div.person-form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 0.625rem;
}

label {
    padding-right: 0.625rem;
}

.notification {
    font-Size: 1.25rem;
    background-color: lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem 0.25rem;
}

.error {
    color: red;
    border: solid red;
    
}

.success {
    color: green;
    border: solid green;
}

.persons {
    display: table;
}

.person-item {
    display: table-row;
    margin: 2rem;
}

.person-name, .person-number, .person-button {
    display: table-cell;
    margin: 0.1625rem 1rem;
    padding-right: 0.75rem; 
}

button.person-button {
    border-radius: 0.25rem;
}

